doctype html

html(lang='en', class='ui light tight')
  head
    meta(charset='utf-8')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=0.7, user-scalable=no, shrink-to-fit=no')

    title= title

    link(rel='apple-touch-icon', href='./gears.png')

    link(rel='stylesheet', href='https://unpkg.com/peek42@latest/dist/peek42.css')
    //link(rel='stylesheet', href='https://unpkg.com/peek42@latest/dist/peek42-dark.css')

    script(src='https://unpkg.com/apivis@latest/dist/apivis.browser.js')
    script(src='https://unpkg.com/peek42@latest/dist/peek42.browser.js')
    script.
      peek42.cable.init(`${document.location.href.split('?')[0].replace(/^http/, 'ws')}peek42`);
    script(src='https://unpkg.com/jdoodle-client@latest/dist/jdoodle-client.browser.js')

    block content0

  body(class='tight')
    block content
